[submodule "lib/phonegap-2.5.0"]
	path = lib/phonegap-2.5.0
	url = git://github.com/phonegap/phonegap.git
[submodule "lib/jquery-mobile-1.3.0"]
	path = lib/jquery-mobile-1.3.0
	url = git://github.com/jquery/jquery-mobile.git
