- # encoding: utf-8
%div{getPageParams(page), :id => page.to_s, :style => "", :data => {:role => "page", :theme => "a"}}
  %div{:id => "header", :position => "fixed",
    :data => {:role => "header", :theme => "a", :tap_toggle => "false"}}
    %h1 Soy Reportero
    %a{:data => {:role => "button"}, :class => "ui-btn-right send-report"}
      Enviar
  %div{:data => {:iscroll => true, :role => "content"}}
    = render_partial getPageTemplateName(page), { :platform => platform }
  %div{:id => 'navigation', :data => { :role  => 'footer', :theme => 'a', :position => 'fixed', :tap_toggle => "false"}}
    %div{:data => {:role => 'navbar'}}
      %ul
        %li
          %a{getNavCssClass(page, :main), :href => getPageId(:main), :data => {:theme => "", :icon => "plus", :transition => "none"}}
            Nuevo reporte
        %li
          %a{getNavCssClass(page, :list), :href => getPageId(:list), :data => {:theme => "", :icon => "grid", :transition => "none"}}
            Ver reportes
        %li
          %a{getNavCssClass(page, :mine), :href => getPageId(:mine), :data => {:theme => "", :icon => "grid", :transition => "none"}}
            Mis reportes
