- # encoding: utf-8
%div{:id => "progress-container"}
  %div{:id => "progress-bar"}
    %div{:id => "progress-bar-indicator"}
    %div{:id => "progress-text"}
      Texto de progreso

%a{:id => "progress-retry-button", :data => {:role => "button"}}
  Volver a subir

%div{:data => {:role => "fieldcontain"}}
  %fieldset{:data => {:role => "controlgroup"}}
    %label{:for => "name"}
      Nombre
    %input{:name => "name", :id => "name-input", :placeholder => "", :value => "", :type => "text"}
%div{:data => {:role => "fieldcontain"}}
  %fieldset{:data => {:role => "controlgroup"}}
    %label{:for => "title"}
      Titulo
    %input{:name => "title", :id => "title-input", :placeholder => "", :value => "", :type => "text"}
%div{:data => {:role => "fieldcontain"}}
  %fieldset{:data => {:role => "controlgroup"}}
    %label{:for => "description"}
      Descripción
    %textarea{:name => "description", :id => "description-input", :placeholder => ""}
%a{:id => "send-button", :data => {:role => 'button'}}
  Enviar reporte
%div{:id => "send-progress-text"}
  Progreso de envio
%a{:id => "send-continue-button", :href => "#main", :data => {:role => 'button'}}
  Ir al principio

