- # encoding: utf-8
%div{:id => "report-media-container", :style => "text-align:center"}
  %img{:id => "report-img", :style => "width: 100%"}
  %div{:id => "report-video", :style => "width: 100%"}
%div
  %p
    %span{:id => "report-description", :style => "color: rgb(255, 255, 255);"}
