- # encoding: utf-8
%div{:class => "content"}
  %ul{:data => {:role => "listview", :divider_theme => "a", :inset => "true"}}
    %li{:data => {:theme => "c"}}
      %a{:id => "capture-photo-button", :data => {:transition =>"slide"}}
        Tomar Foto
    %li{:data => {:theme => "c"}}
      %a{:id => "capture-video-button", :data => {:transition => "slide"}}
        Tomar Video
    %li{:data => {:theme => "c"}}
      %a{:id => "select-photo-button", :data => {:transition => "slide"}}
        Seleccionar Foto de Galería
    %li{:data => {:theme => "c"}}
      %a{:id => "select-video-button", :data => {:transition => "slide"}}
        Seleccionar Video de Galería
