- # encoding: utf-8
%div{:class => "iscroll-pulldown"}
  %span{:class => "iscroll-pull-icon"}
  %span{:class => "iscroll-pull-label", :data => {:iscroll_loading_text => "Cargando...", :iscroll_pulled_text => "Libera para actualizar"}}
    Libera para ignorar
%ul{:id => "list-reports", :data => {:role => "listview", :divider_theme => "a", :inset => "false"}}
%div{:class => "iscroll-pullup"}
  %span{:class => "iscroll-pull-icon"}
  %span{:class => "iscroll-pull-label", :data => { :iscroll_loading_text => "Cargando...", :iscroll_pulled_text => "Libera para cargar más"}}
    Libera para ignorar
