- # encoding: utf-8
%div{:class => "content"}
  %a{:id => "create-report-button", :href => "#select", :data => {:role => "button"}}
    Crear reporte nuevo
  %a{:id => "edit-report-button", :href => "#form", :data => {:role => "button"}}
    Continuar reporte anterior
