<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta content='yes' name='apple-mobile-web-app-capable'>
    <meta content='black' name='apple-mobile-web-app-status-bar-style'>
    <title>Soy Reportero</title>
    <link href='css/jquery.mobile-1.3.1.css' rel='stylesheet'>
    <!-- %link{:rel => "stylesheet", :href => "jqm_themes/android/android-theme.css"} -->
    <link href='css/jquery.mobile.actionsheet.css' rel='stylesheet'>
    <link href='css/jquery.mobile.iscrollview.css' rel='stylesheet'>
    <link href='css/jquery.mobile.iscrollview-pull.css' rel='stylesheet'>
    <link href='css/main.css' rel='stylesheet'>
    <link href='css/report_list.css' rel='stylesheet'>
    <script charset='utf-8' src='cordova-2.6.0-ios.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/lib/jquery-1.9.1.min.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/lib/jquery.mobile.router.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/lib/jquery.mobile-1.3.1.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/lib/jquery.mobile.actionsheet.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/lib/iscroll.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/lib/jquery.mobile.iscrollview.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/lib/omplayer.telesur.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/lib/underscore.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/lib/backbone.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/lib/md5_lib.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/lib/jquery.dateFormat.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/lib/jquery.ellipsis.min.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/omlib.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/ui.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/pages/main.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/pages/select.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/pages/form.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/pages/list.js' type='text/javascript'></script>
    <script charset='utf-8' src='js/pages/view.js' type='text/javascript'></script>
    <script>
      var platform = "ios";
    </script>


    <script id='list-page-list-item-template' type='text/template' charset='utf-8'>
      <li class='report-item-li <%- reporte.tipo %>' data-link='#view?<%- reporte.tipo %>:<%- reporte.slug %>'>
        <img src='<%- reporte.thumbnail %>'>
        <img class="play-icon" src="css/images/play-icon.png" />

        <span class='date'><%- reporte.fecha_verbose %></span>
        <span class='title'><%- reporte.titulo %></span>
        <span class='name'>Por: <%- reporte.usuario %></span>

      </li>
    </script>

  </head>


  <body>
    <div data-role='page' data-theme='a' id='main' style=''>
      <div data-role='header' data-tap-toggle='false' data-theme='a' id='header' position='fixed'>
        <h1>Soy Reportero</h1>
        <a class='ui-btn-right send-report' data-role='button'>
          Enviar
        </a>
      </div>
      <div data-iscroll data-role='content'>
        <div class='content'>
          <a data-icon='plus' data-role='button' data-theme='b' id='create-report-button'>
            Crear reporte nuevo
          </a>
          <a data-icon='plus' data-role='actionsheet' id='create-report-hidden'>
            Crear reporte nuevo
          </a>
          <div>
            <a data-role='button' data-transition='slide' id='capture-photo-button'>
              Tomar Foto
            </a>
            <a data-role='button' data-transition='slide' id='capture-video-button'>
              Tomar Video
            </a>
            <br>
            <a data-role='button' data-transition='slide' id='select-photo-button'>
              Foto de galería
            </a>
            <a data-role='button' data-transition='slide' id='select-video-button'>
              Video de galería
            </a>
            <br>
            <a data-href='#' data-rel='close' data-role='button'>
              Cancel
            </a>
          </div>
          <a data-role='button' href='#form' id='edit-report-button'>
            Continuar reporte anterior
          </a>
          <fieldset data-role='controlgroup'></fieldset>
          <div data-role='fieldcontain'>
            <label for='name'>
              Nombre
            </label>
            <input id='name-input' name='name' placeholder='' type='text' value=''>
          </div>
          <div data-role='fieldcontain'>
            <label for='country'>
              País
            </label>
            <select id='country-input' name='country'>
              <option value='None'>
                (vacío)
              </option>
              <option value='AF'>
                Afganistán
              </option>
              <option value='AL'>
                Albania
              </option>
              <option value='AQ'>
                Antártida
              </option>
              <option value='DZ'>
                Argelia
              </option>
              <option value='AS'>
                Samoa Americana
              </option>
              <option value='AD'>
                Andorra
              </option>
              <option value='AO'>
                Angola
              </option>
              <option value='AG'>
                Antigua y Barbuda
              </option>
              <option value='AZ'>
                Azerbaiyán
              </option>
              <option value='AR'>
                Argentina
              </option>
              <option value='AU'>
                Australia
              </option>
              <option value='AT'>
                Austria
              </option>
              <option value='BS'>
                Bahamas
              </option>
              <option value='BH'>
                Bahréin
              </option>
              <option value='BD'>
                Bangladesh
              </option>
              <option value='AM'>
                Armenia
              </option>
              <option value='BB'>
                Barbados
              </option>
              <option value='BE'>
                Bélgica
              </option>
              <option value='BM'>
                Bermudas
              </option>
              <option value='BT'>
                Bután
              </option>
              <option value='BO'>
                Bolivia
              </option>
              <option value='BA'>
                Bosnia y Herzegovina
              </option>
              <option value='BW'>
                Botsuana
              </option>
              <option value='BV'>
                Isla Bouvet
              </option>
              <option value='BR'>
                Brasil
              </option>
              <option value='BZ'>
                Belice
              </option>
              <option value='IO'>
                Territorio Británico del Océano Índico
              </option>
              <option value='SB'>
                Islas Salomón
              </option>
              <option value='VG'>
                Islas Vírgenes Británicas
              </option>
              <option value='BN'>
                Brunéi
              </option>
              <option value='BG'>
                Bulgaria
              </option>
              <option value='MM'>
                Myanmar
              </option>
              <option value='BI'>
                Burundi
              </option>
              <option value='BY'>
                Bielorrusia
              </option>
              <option value='KH'>
                Camboya
              </option>
              <option value='CM'>
                Camerún
              </option>
              <option value='CA'>
                Canadá
              </option>
              <option value='CV'>
                Cabo Verde
              </option>
              <option value='KY'>
                Islas Caimán
              </option>
              <option value='CF'>
                República Centroafricana
              </option>
              <option value='LK'>
                Sri Lanka
              </option>
              <option value='TD'>
                Chad
              </option>
              <option value='CL'>
                Chile
              </option>
              <option value='CN'>
                China
              </option>
              <option value='TW'>
                Taiwán
              </option>
              <option value='CX'>
                Isla de Navidad
              </option>
              <option value='CC'>
                Islas Cocos
              </option>
              <option value='CO'>
                Colombia
              </option>
              <option value='KM'>
                Comoras
              </option>
              <option value='YT'>
                Mayotte
              </option>
              <option value='CG'>
                República del Congo
              </option>
              <option value='CD'>
                República Democrática del Congo
              </option>
              <option value='ZR'>
                República Democrática del Congo
              </option>
              <option value='CK'>
                Islas Cook
              </option>
              <option value='CR'>
                Costa Rica
              </option>
              <option value='HR'>
                Croacia
              </option>
              <option value='CU'>
                Cuba
              </option>
              <option value='CY'>
                Chipre
              </option>
              <option value='CZ'>
                República Checa
              </option>
              <option value='BJ'>
                Benín
              </option>
              <option value='DK'>
                Dinamarca
              </option>
              <option value='DM'>
                Dominica
              </option>
              <option value='DO'>
                República Dominicana
              </option>
              <option value='EC'>
                Ecuador
              </option>
              <option value='SV'>
                El Salvador
              </option>
              <option value='GQ'>
                Guinea Ecuatorial
              </option>
              <option value='ET'>
                Etiopía
              </option>
              <option value='ER'>
                Eritrea
              </option>
              <option value='EE'>
                Estonia
              </option>
              <option value='FO'>
                Islas Feroe
              </option>
              <option value='FK'>
                Islas Malvinas
              </option>
              <option value='GS'>
                Islas Georgias del Sur y Sandwich del Sur
              </option>
              <option value='FJ'>
                Fiyi
              </option>
              <option value='FI'>
                Finlandia
              </option>
              <option value='AX'>
                Åland
              </option>
              <option value='FR'>
                Francia
              </option>
              <option value='GF'>
                Guayana Francesa
              </option>
              <option value='PF'>
                Polinesia Francesa
              </option>
              <option value='TF'>
                Territorios Australes Franceses
              </option>
              <option value='DJ'>
                Yibuti
              </option>
              <option value='GA'>
                Gabón
              </option>
              <option value='GE'>
                Georgia
              </option>
              <option value='GM'>
                Gambia
              </option>
              <option value='PS'>
                Palestina (ANP)
              </option>
              <option value='DE'>
                Alemania
              </option>
              <option value='GH'>
                Ghana
              </option>
              <option value='GI'>
                Gibraltar
              </option>
              <option value='KI'>
                Kiribati
              </option>
              <option value='GR'>
                Grecia
              </option>
              <option value='GL'>
                Groenlandia
              </option>
              <option value='GD'>
                Granada
              </option>
              <option value='GP'>
                Guadalupe
              </option>
              <option value='GU'>
                Guam
              </option>
              <option value='GT'>
                Guatemala
              </option>
              <option value='GN'>
                Guinea
              </option>
              <option value='GY'>
                Guyana
              </option>
              <option value='HT'>
                Haití
              </option>
              <option value='HM'>
                Islas Heard y McDonald
              </option>
              <option value='VA'>
                Ciudad del Vaticano
              </option>
              <option value='HN'>
                Honduras
              </option>
              <option value='HK'>
                Hong Kong
              </option>
              <option value='HU'>
                Hungría
              </option>
              <option value='IS'>
                Islandia
              </option>
              <option value='IN'>
                India
              </option>
              <option value='ID'>
                Indonesia
              </option>
              <option value='IR'>
                Irán
              </option>
              <option value='IQ'>
                Iraq
              </option>
              <option value='IE'>
                Irlanda
              </option>
              <option value='IL'>
                Israel
              </option>
              <option value='IT'>
                Italia
              </option>
              <option value='CI'>
                Costa de Marfil
              </option>
              <option value='JM'>
                Jamaica
              </option>
              <option value='JP'>
                Japón
              </option>
              <option value='KZ'>
                Kazajistán
              </option>
              <option value='JO'>
                Jordania
              </option>
              <option value='KE'>
                Kenia
              </option>
              <option value='KP'>
                Corea del Norte
              </option>
              <option value='KR'>
                Corea del Sur
              </option>
              <option value='KW'>
                Kuwait
              </option>
              <option value='KG'>
                Kirguistán
              </option>
              <option value='LA'>
                Laos
              </option>
              <option value='LB'>
                Líbano
              </option>
              <option value='LS'>
                Lesoto
              </option>
              <option value='LV'>
                Letonia
              </option>
              <option value='LR'>
                Liberia
              </option>
              <option value='LY'>
                Libia
              </option>
              <option value='LI'>
                Liechtenstein
              </option>
              <option value='LT'>
                Lituania
              </option>
              <option value='LU'>
                Luxemburgo
              </option>
              <option value='MO'>
                Macao
              </option>
              <option value='MG'>
                Madagascar
              </option>
              <option value='MW'>
                Malawi
              </option>
              <option value='MY'>
                Malasia
              </option>
              <option value='MV'>
                Maldivas
              </option>
              <option value='ML'>
                Malí
              </option>
              <option value='MT'>
                Malta
              </option>
              <option value='MQ'>
                Martinica
              </option>
              <option value='MR'>
                Mauritania
              </option>
              <option value='MU'>
                Mauricio
              </option>
              <option value='MX'>
                México
              </option>
              <option value='MC'>
                Mónaco
              </option>
              <option value='MN'>
                Mongolia
              </option>
              <option value='MD'>
                Moldavia
              </option>
              <option value='ME'>
                Montenegro
              </option>
              <option value='MS'>
                Montserrat
              </option>
              <option value='MA'>
                Marruecos
              </option>
              <option value='MZ'>
                Mozambique
              </option>
              <option value='OM'>
                Omán
              </option>
              <option value='NA'>
                Namibia
              </option>
              <option value='NR'>
                Nauru
              </option>
              <option value='NP'>
                Nepal
              </option>
              <option value='NL'>
                Países Bajos
              </option>
              <option value='AN'>
                Antillas Neerlandesas
              </option>
              <option value='AW'>
                Aruba
              </option>
              <option value='NC'>
                Nueva Caledonia
              </option>
              <option value='VU'>
                Vanuatu
              </option>
              <option value='NZ'>
                Nueva Zelanda
              </option>
              <option value='NI'>
                Nicaragua
              </option>
              <option value='NE'>
                Níger
              </option>
            </select>
          </div>
        </div>
      </div>
      <div data-position='fixed' data-role='footer' data-tap-toggle='false' data-theme='a' id='navigation'>
        <div data-role='navbar'>
          <ul>
            <li>
              <a class='ui-btn-active ui-state-persist' data-icon='plus' data-theme='' data-transition='none' href='#main'>
                Nuevo reporte
              </a>
            </li>
            <li>
              <a data-icon='grid' data-theme='' data-transition='none' href='#list'>
                Ver reportes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-add-back-btn='true' data-role='page' data-theme='a' id='select' style='background: url('css/images/c9iwDqPgTFOFbb5GGvfn_mapa.png') no-repeat;'>
      <div data-role='header' data-tap-toggle='false' data-theme='a' id='header' position='fixed'>
        <h1>Soy Reportero</h1>
        <a class='ui-btn-right send-report' data-role='button'>
          Enviar
        </a>
      </div>
      <div data-iscroll data-role='content'>
        <div class='content'>
          <ul data-divider-theme='a' data-inset='true' data-role='listview'>
            <li data-theme='c'>
              <a data-transition='slide' id='capture-photo-button'>
                Tomar Foto
              </a>
            </li>
            <li data-theme='c'>
              <a data-transition='slide' id='capture-video-button'>
                Tomar Video
              </a>
            </li>
            <li data-theme='c'>
              <a data-transition='slide' id='select-photo-button'>
                Seleccionar Foto de Galería
              </a>
            </li>
            <li data-theme='c'>
              <a data-transition='slide' id='select-video-button'>
                Seleccionar Video de Galería
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div data-position='fixed' data-role='footer' data-tap-toggle='false' data-theme='a' id='navigation'>
        <div data-role='navbar'>
          <ul>
            <li>
              <a class='ui-btn-active ui-state-persist' data-icon='plus' data-theme='' data-transition='none' href='#main'>
                Nuevo reporte
              </a>
            </li>
            <li>
              <a data-icon='grid' data-theme='' data-transition='none' href='#list'>
                Ver reportes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-add-back-btn='true' data-role='page' data-theme='a' id='form' style='background: url('css/images/c9iwDqPgTFOFbb5GGvfn_mapa.png') no-repeat;'>
      <div data-role='header' data-tap-toggle='false' data-theme='a' id='header' position='fixed'>
        <h1>Soy Reportero</h1>
        <a class='ui-btn-right send-report' data-role='button'>
          Enviar
        </a>
      </div>
      <div data-iscroll data-role='content'>
        <div id='progress-container'>
          <div id='progress-bar'>
            <div id='progress-bar-indicator'></div>
            <div id='progress-text'>
              Texto de progreso
            </div>
          </div>
        </div>
        <a data-role='button' id='progress-retry-button'>
          Volver a subir
        </a>
        <fieldset data-role='controlgroup'>
          <div data-role='fieldcontain'>
            <label for='title'>
              Titulo
            </label>
            <input id='title-input' name='title' placeholder='' type='text' value=''>
          </div>
          <div data-role='fieldcontain'>
            <label for='description'>
              Descripción
            </label>
            <textarea id='description-input' name='description' placeholder=''></textarea>
          </div>
        </fieldset>
        <a data-role='button' id='send-button'>
          Enviar reporte
        </a>
        <div id='send-progress-text'>
          Progreso de envio
        </div>
        <a data-role='button' href='#main' id='send-continue-button'>
          Ir al principio
        </a>
      </div>
      <div data-position='fixed' data-role='footer' data-tap-toggle='false' data-theme='a' id='navigation'>
        <div data-role='navbar'>
          <ul>
            <li>
              <a class='ui-btn-active ui-state-persist' data-icon='plus' data-theme='' data-transition='none' href='#main'>
                Nuevo reporte
              </a>
            </li>
            <li>
              <a data-icon='grid' data-theme='' data-transition='none' href='#list'>
                Ver reportes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-role='page' data-theme='a' id='list' style='background: url('css/images/c9iwDqPgTFOFbb5GGvfn_mapa.png') no-repeat;'>
      <div data-role='header' data-tap-toggle='false' data-theme='a' id='header' position='fixed'>
        <h1>Soy Reportero</h1>
        <a class='ui-btn-right send-report' data-role='button'>
          Enviar
        </a>
      </div>
      <div data-iscroll data-role='content'>
        <div class='iscroll-pulldown'>
          <span class='iscroll-pull-icon'></span>
          <span class='iscroll-pull-label' data-iscroll-loading-text='Cargando...' data-iscroll-pulled-text='Libera para actualizar'>
            Libera para ignorar
          </span>
        </div>
        <ul data-divider-theme='a' data-inset='false' data-role='listview' id='list-reports'></ul>
        <div class='iscroll-pullup'>
          <span class='iscroll-pull-icon'></span>
          <span class='iscroll-pull-label' data-iscroll-loading-text='Cargando...' data-iscroll-pulled-text='Libera para cargar más'>
            Libera para ignorar
          </span>
        </div>
      </div>
      <div data-position='fixed' data-role='footer' data-tap-toggle='false' data-theme='a' id='navigation'>
        <div data-role='navbar'>
          <ul>
            <li>
              <a data-icon='plus' data-theme='' data-transition='none' href='#main'>
                Nuevo reporte
              </a>
            </li>
            <li>
              <a class='ui-btn-active ui-state-persist' data-icon='grid' data-theme='' data-transition='none' href='#list'>
                Ver reportes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div data-add-back-btn='true' data-role='page' data-theme='a' id='view' style='background: url('css/images/c9iwDqPgTFOFbb5GGvfn_mapa.png') no-repeat;'>
      <div data-role='header' data-tap-toggle='false' data-theme='a' id='header' position='fixed'>
        <h1>Soy Reportero</h1>
        <a class='ui-btn-right send-report' data-role='button'>
          Enviar
        </a>
      </div>
      <div data-iscroll data-role='content'>
        <h2 id='report-title'></h2>
        <div id='report-media-container' style='text-align:center'>
          <img id='report-img' style='width: 100%'>
          <div id='report-video' style='width: 100%'></div>
        </div>
        <div>
          <p>
            <span id='report-description' style='color: rgb(255, 255, 255);'></span>
          </p>
        </div>
      </div>
      <div data-position='fixed' data-role='footer' data-tap-toggle='false' data-theme='a' id='navigation'>
        <div data-role='navbar'>
          <ul>
            <li>
              <a data-icon='plus' data-theme='' data-transition='none' href='#main'>
                Nuevo reporte
              </a>
            </li>
            <li>
              <a class='ui-btn-active ui-state-persist' data-icon='grid' data-theme='' data-transition='none' href='#list'>
                Ver reportes
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
