#progress-bar {
  background-color: #333333;
  height: 25px;
  border-radius: 15px;
  text-align: center;
  line-height: 25px;
}

#progress-bar-indicator {
  background-color: #610B0B;
  position: absolute;
  border-radius: 15px;
  width: 0%;
  height: 25px;
}

#progress-text {
  position: absolute;
  width: 100%;
}

#report-title {
  text-align: center;
}

.ui-header > .ui-btn.send-report {
  display: none;
}
