li.report-item-li {
    padding: 5px 5px 5px 100px;
}

li.report-item-li img.ui-li-thumb {
    min-height: 79px;
    display: block;
}

li.report-item-li.Foto img.ui-li-thumb {
    
}

li.report-item-li.Foto img.play-icon {
    display: none;
}

li.report-item-li.Video img.play-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
}

li.report-item-li span.title {
    font-size: 0.9em;
}

li.report-item-li span.name {
    
}


li.report-item-li span.date {
    right: 8px;
    bottom: 4px;
    position: absolute;
    font-size: 0.7em;

}