<div data-role="content">
        <div class="content">
          <ul data-role="listview" data-inset="true">
              <li>
                  <a onclick="capturePhoto()" href="#formPage" data-transition="slide">
                      Tomar Fotox
                  </a>
              </li>
              <li>
                  <a onclick="captureVideo()" href="#formPage" data-transition="slide">
                      Tomar Video
                  </a>
              </li>
              <li>
                  <a href="#formPage" onclick="getPhoto(pictureSource.PHOTOLIBRARY, 0);" data-transition="slide">
                      Seleccionar Foto de Galería
                  </a>
              </li>
              <li>
                  <a href="#formPage" onclick="getPhoto(pictureSource.PHOTOLIBRARY, 1);" data-transition="slide">
                      Seleccionar Video de Galería
                  </a>
              </li>
          </ul>
        </div>
      </div>