%li{:class => 'report-item-li', :data => {:link => '#view?<%- reporte.tipo %>:<%- reporte.slug %>'}}
  %img{:src => "<%- reporte.thumbnail %>"}
  %span{:class =>  'title'}
    <%- reporte.fecha_texto %> (<%- reporte.tipo %>)
    %br
    <%- reporte.titulo %>

